/* 
@font-face {
    font-family: sans;
    src: url('/fonts/Sans2/Sans.ttf');
    font-weight: normal;
    font-display: swap;
} */

@font-face {
    font-family: sans;
    src: url('/fonts/s/sans.ttf');
    font-weight: normal;
    font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

